body{
	background-color:rgb(251,230,194);
	color: black;
	font-family:'Nunito Sans', sans-serif;
	font-size: 18 px;
	text-align: center;
}

h1 {
	color: rgb(172,14,15);
	font-family: Roboto, sans-serif;
	font-weight: 100
	letter-spacing: 15px;
	font-size: 48px;
}

h2 {
	color: rgb(172,14,15);
	font-family: Roboto, sans-serif;
	font-weight: 100
	letter-spacing: 15px;
	font-size: 32px;
}

h3 {
	font-family: Roboto, sans-serif;
	font-size: 24px;
	color:#f0a430;
	font-weight: bold;
}

a {
	text-decoration: none;
	color:rgb(244,139,41);
	font-weight: bold;
	font-size: 80px;
	transition: color 0.3s ease;
}

a:hover {
	color: rgb(241,201,41);
}

.img-circle {
	border-radius: 50%;
	width: 200px;
}

.text-center{
	text-align: center;
}

.container{
	width: 700px;
	margin: 40px auto;
}
.card-white{
	background: white:
	padding; 30px;
	border: 1px solid white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline > ul {
	display: inline;
	padding: 0px 20px;
	list-style: none;
}

ul{
	column-count: 3;
	list-style: none;
}

.container{
	width: 1000px;
	margin: 40px auto;
}

@media (max-width: 960px) {
	.container{
		width: 700px;
	}
}

@media (max-width: 720px) {
	.container{
		width: 500px;
	}
}

@media (max-width: 540px) {
	.container{
		width: 300px;
	}
}

.card-white{
	background: white;
    padding: 60px;
    margin: 50px;
    box-shadow: 0px 10px 30px rgb(0 0 0);
    border-radius: 4px;
}

.botton{
	border: 2px solid rgb(172,14,15);
	padding: 5px;
	background-color: rgb(172,14,15);
	color: rgb(251,230,194);
	text-decoration: none;
	text-transform: uppercase;
	font-family:'Nunito Sans', sans-serif;
	font-size: 16px;
	font-style: bold;
	border-radius: 50px;
}






